article{

    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: var(--card-bg);
    border-radius: .5rem;
    overflow: hidden;

    .card-header{
        padding: 2rem;
        text-align: center;
        background-color: var(--card-header-bg);
    }

}