<article>
    <div class="card-header">
        <h3 class="fw-bold text-basic display-6">Dólar Canadense</h3>
    </div>
    <div class="card-content">
        <h2 class="fw-semibold text-green display-1">R$4,37</h2>
    </div>
    <div class="card-details">
        <div class="card-variation">
            <h5 class="fw-semibold text-secondary">Variação (%)</h5>
            <h4 class="fw-semibold text-basic">-0,11</h4>
        </div>
        <div class="card-updated">
            <h5 class="fw-semibold text-secondary">Atualizado</h5>
            <h4 class="fw-semibold text-basic">08:01:23</h4>
        </div>
    </div>
</article>