$body-bg: #EEEEEE;
$header-bg: #FFFFFF;
$card-header-bg: #F6F6F6;
$card-bg: #FFFFFF;
$button-bg: #F4F4F4;
$text-basic: #717171;
$text-secondary: #919191;
$text-green: #3C7649;
$text-blue: #3684CB;
$text-red: #DD4B4B;